
<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>About</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styleV2.css') }}" />
</head>


<body>
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                <a class="navbar-brand" href="#page-top">NextDOM 2.0</a>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                      <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:5000/">Domů</a></li>
                      <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:5000/about">O aplikaci</a></li>
                      <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:5000/analyze">Analýza</a></li>
                      <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:5000/thresholdsnew">Výpočet Prahových Hodnoty</a></li>
                      <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:5000/gallery">Příklady</a></li>
                      <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:5000/endofwork">SMAZAT</a></li>
                    </ul>
                </div>
            </div>
        </nav>
<div class="page-wrapper bg-gra-02 p-t-160 p-b-100 font-poppins">
<div class="wrapper wrapper--w780" >
<div class="card card-4">
<div class="card-body" >
<h2 class="title" style="text-align: center;" >K čemu slouží toto řešení?</h2>

<h4 style="text-align:justify;"> NextDOM 2.0 algoritmus se používá pro detekci somatických bodových variant u pacientů s leukémií v genu kinázové doméně fúzního genu BCR::ABL1 a zkoumá odolnosti těchto genů na léčbu.</h4>
<h4 style="text-align:justify;">Tento postup řešení se zaměřuje na chronickou myeloidní leukémií (dále jen CML) a Ph pozitivní akutní lymfoblastická leukémie (dále jen Ph+ ALL). </h4>


</div>
</div>s
</div>
</div>

<footer class="fixed-bot" style="opacity: 0.5;background-color: #111">
    <h5 style="text-align: justify; color: white;"> <p style="font-weight: bold;">Tato aplikace vznikla na základě této citované práce</p>Benešová, Adéla. Do not waste the data: A pipeline for evaluation of BCR-ABL1 kinase domain mutation using individual thresholds [poster]. In: 25 th European Hematology association Virtual Congress - EHA 2020, 11.6.-15.10.2020</h5>
</footer>
</body>

</html>
