
<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Compute Thresholds</title>
<link href="thesholds.css" rel="stylesheet" media="all">
</head>


<body>
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                <a class="navbar-brand" href="#page-top">Next Dom</a>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="analyze.html">Analyze</a></li>
                        <li class="nav-item"><a class="nav-link" href="thesholds.html">Thresholds</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
<div class="page-wrapper bg-gra-02 p-t-160 p-b-100 font-poppins">
<div class="wrapper wrapper--w780" >
<div class="card card-4">
<div class="card-body" >
<h2 class="title" style="text-align: center;" >Vítejte na stránce algoritmu NextDOM2.0</h2>

<h5>Prvním krokem, by měl být výpočet thresholdů, které se dále používají při analýze. Pokud již takový soubor máte, či chcete použít námi vytvořený soubor, můžete výpočet thresholdů přeskočit.</h5>
<br>
<details>
  <summary>Postup pro výpočet thresholdů</summary>
  <br>
  <ol>
    <li style="padding: 5px; margin-left: 15px">Pokud chcete vytvořit vlastní soubor, je potřeba kliknout v horní navigační liště na Thresholds.</li>
    <li style="padding: 5px; margin-left: 15px">Poté můžete vybrat Vaše data zdravých dárců. Tyto soubory můžete vybrat z excelovského dokumentu, rozdělených do více listů, ze samostatných CSV souborů nebo z námi připravených dat.</li>
    <li style="padding: 5px; margin-left: 15px">Poté si vyberte, zda chcete výsledek uložit jako jeden soubor (do exceku) nebo do více souborů (do csv).</li>
    <li style="padding: 5px; margin-left: 15px">Number of Normals slouží k .... (v programu to řeší kolik souborů vezmu)</li>
    <li style="padding: 5px; margin-left: 15px">Klikněte na Compute Thresholds a zobrazí se Vám nová stránka.</li>
    <li style="padding: 5px; margin-left: 15px">Na této stránce vidíte grafy a tlačítko ke stažení vypočítaných thresholdů.</li>
  </ol>
</details>
<br>
<h5>Jako další je na řadě samotná analýza. Analýza vezme vypočítané hranice a na základě těchto thresholdů analyzuje zadaný soubor. Analýza se dá dělit na 2 výsledky. Jeden LoD a LoQ. Kde LoD slouží k ....   a LoQ slouží k barevnému zvýraznění....</h5>
<br>
<details>
  <summary>Postup analýzy</summary>
  <br>
  <ol>
    <li style="padding: 5px; margin-left: 15px">K výpočtu analýzi je potřeba kliknout v horní navigační liště na Analyze.</li>
    <li style="padding: 5px; margin-left: 15px">Poté můžete vybrat Path To Run, která by měla odkazovat na místo, kde se nachází samostatná složka Part1 a Part2 s .txt soubory.</li>
    <li style="padding: 5px; margin-left: 15px">Poté si pojmenujte výstup analýzy dle Vašich požadavků.</li>
    <li style="padding: 5px; margin-left: 15px">Vyberte si jaký chcete použít limity. LoD vám vrátí soubor s .... a LoQ Vám vrátí soubor, který barevně zvýrazní hodnoty, které splňují daná kritéria.</li>
    <li style="padding: 5px; margin-left: 15px">Vyberte si, jak chcete mít uložen výsledek. <p style="color: red; font-weight: bold">Upozorňujeme, že barevné zvýraznění se provede pouze u souboru typu .xlsx.</p></li>
    <li style="padding: 5px; margin-left: 15px">Poté klikněte na Analyze, počkejte na zpracování analýzi a stáhněte si výsledné soubory.</li>
  </ol>
</details>

</div>
</div>
</div>
</div>


</body>

</html>
