
<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Compute Thresholds</title>
<link href="thesholds.css" rel="stylesheet" media="all">
</head>


<body>
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                <a class="navbar-brand" href="#page-top">Next Dom</a>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="analyze.html">Analyze</a></li>
                        <li class="nav-item"><a class="nav-link" href="thesholds.html">Thresholds</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
<div class="page-wrapper bg-gra-02 p-t-160 p-b-100 font-poppins">
<div class="wrapper wrapper--w780">
<div class="card card-4">
<div class="card-body">
<h2 class="title">Settings Of Thresholds</h2>
<form method="POST">
<div class="row row-space">
<div class="col">
<div class="input-group">

<label class="label">Load Healthy Donors From</label>
<div class="p-t-10">

<label class="radio-container m-r-45 " id="ch1">One File (.xlsx)
<input type="radio" name="loadRadio" id="oneFileCheck">
<span class="checkmark"></span>
</label>



<label class="radio-container m-r-45  ">Folder (.csv)
<input type="radio" name="loadRadio" id="moreFileCheck">
<span class="checkmark"></span>
</label>



<label class="radio-container">Default (ours)
<input type="radio" name="loadRadio" checked="checked">
<span class="checkmark"></span>
</label>

</div>
</div>
</div>
</div>
<div id="ifYes2" style="display:none"class="h8">
          <h6>Files Of Healthy Donors: </h6>
          <input type="file" id="myFiles" name="FilesOfHealthyDonors" style="margin-bottom: 10px; margin-top: 5px; order: -1;" webkitdirectory directory
            multiple ">
</div>
<span id="ifYes" style="display:none" class="h8">
  <h6 >File Of Healthy Donor:</h6 >
 <input type="file" id="myFile" name="FileOfHealthyDonors" style="margin-bottom: 10px; margin-top: 5px;">
</span>
<div class="row row-space">
<div class="col">
<div class="input-group">

<label class="label">Save As</label>
<div class="p-t-10">
<label class="radio-container m-r-45">One File (.xlsx)
<input type="radio" checked="checked" name="saveAs">
<span class="checkmark"></span>
</label>

<label class="radio-container">Folder (.csv)
<input type="radio" name="saveAs">
<span class="checkmark"></span>
</label>

</div>
</div>
</div>
</div>

<div class="row row-space">
<div class="col-2">
<div class="input-group">

<label class="label">Number of Normals</label>
<input class="input--style-4" type="number" name="numberOfNormals" value="0">
</div>
</div>
</div>


<div class="row row-space">
<div class="col">
<div class="input-group">
<div class="p-t-15">
<button class="btn btn--radius-2 btn--radiant" type="submit" style="width: 50%">Compute Thresholds</button>
</div>
</div>
</div>
</form>
</div>
</div>
</div>
</div>


</body>

<script type="text/javascript">

const box = document.getElementById('ifYes');
const box2 = document.getElementById('ifYes2');
function handleRadioClick() {
  if (document.getElementById('oneFileCheck').checked) {
    box.style.display = 'block';
  } else {
    box.style.display = 'none';
  }
  if (document.getElementById('moreFileCheck').checked) {
    box2.style.display = 'block';
  } else {
    box2.style.display = 'none';
  }
}
const radioButtons = document.querySelectorAll('input[name="loadRadio"]');
radioButtons.forEach(radio => {
  radio.addEventListener('click', handleRadioClick);
});

</script>
</html>
